* {
    box-sizing: border-box;
    /* border: blue solid 1px; */
}

body {
    background-color: beige;
    display: flex;
    flex-direction: column;
}

/* top container*/
.title {
    color: black;
    font-size: 60px;
    text-align: center;
}

/* middle container*/
.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    flex:1 ;
}

/* left */
/* menu container */
.menu {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

button {
    width: 150px;
}

.slider-container {
    text-align: center;
}

.slider {
    width: 150px;
}
/* middle */
.sketch-board {
    display: flex;
    justify-content: center;
    width: 50%;
}

.square {
    background-color: white;
    border: rgba(128, 128, 128, 0.43) solid 1px;
}

.frame {
    width: 600px;
    height: 600px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

/* right */
.empty-right {
    width: 25%;
}

/* bottom */
.footer {
    text-align: center;
}